@import "../../../style/variables";

$timing-function-text: cubic-bezier(0.86, 0, 0.79, 0);
$timing-function-image: cubic-bezier(0.83, 0, 0.17, 1);

.LookBack {
  position: relative;
  z-index: 20;
  padding-left: 100px;
  display: flex;
  font-family: "Marcellus";
  color: $font-color-blue;
  transition-duration: 0.3s;

  .LookBack__sideColumn {
    flex-shrink: 0;
    position: sticky;
    top: 0;
    padding-top: 64vh;
    // sticky終了ポジションをメインカラムと合わせる
    margin-bottom: 48px;
    min-width: 120px;
    height: fit-content;
  }

  .LookBack__sortItems {
    margin-top: 60px;
    line-height: 2em;
  }

  .LookBack__sortButton {
    color: $font-color-red;
    transition-duration: 0.3s;
    transition-timing-function: $timing-function-text;

    &::before {
      content: "";
      display: inline-block;
      width: 0px;
      height: 1px;
      background-color: $font-color-blue;
      transition-duration: 0.3s;
      transition-timing-function: $timing-function-text;
    }

    &:hover {
      color: $font-color-blue;

      &::before {
        width: 32px;
        margin-right: 8px;
      }
    }
  }

  .LookBack__mainColumn {
    margin-left: 160px;
    // ソートカラムのsticky開始ポジションをハンバーガーメニューと合わせる
    padding-top: 48px;
  }

  .LookBack__items {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    opacity: 1;
    transition-duration: 0.3s;
    transition-timing-function: $timing-function-image;
  }

  .LookBack__items--exiting {
    opacity: 0;
  }

  .LookBack__items--exited {
    opacity: 0;
  }

  .LookBack__item {
    margin-right: 80px;
    margin-bottom: 56px;
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 0.5s;
    transition-timing-function: $timing-function-image;
  }

  .LookBack__item--inactive {
    opacity: 0;
    transform: translateY(80%);
  }

  .LookBack__itemContent {
    position: relative;
    display: flex;
    color: $font-color-blue;
  }

  .LookBack__itemTitle {
    position: absolute;
    top: 0;
    display: flex;
    align-items: baseline;
    min-width: 400px;
    letter-spacing: 0.04em;
    transform: rotate(90deg);
    transform-origin: top left;
    transition-duration: 0.3s;
    transition-timing-function: $timing-function-text;

    &::before {
      content: "";
      display: inline-block;
      width: 0px;
      height: 1px;
      background-color: $font-color-blue;
      transition-duration: 0.3s;
      transition-timing-function: $timing-function-text;
    }
  }

  .LookBack__itemTitle--active {
    color: $font-color-white;

    &::before {
      width: 32px;
      margin-right: 8px;
      background-color: $font-color-white;
    }
  }

  .LookBack__itemTitleText {
    flex-shrink: 0;
  }

  .LookBack__itemTitleMonth {
    margin-left: 24px;
    font-size: 13px;
  }

  .LookBack__imageContainer {
    position: relative;
    width: 224px;
    height: 660px;
    overflow: hidden;
  }

  .LookBack__link {
    display: block;
  }

  .LookBack__itemImage {
    margin-left: 24px;
    width: 200px;
  }

  .LookBack__colorVeil {
    position: absolute;
    top: 0;
    margin-left: 24px;
    width: 200px;
    height: 660px;
    transition-duration: 0.5s;
    transition-timing-function: $timing-function-image;
  }

  .LookBack__colorVeil--0 {
    background-color: #cbcbcb;
  }
  .LookBack__colorVeil--1 {
    background-color: #808080;
  }
  .LookBack__colorVeil--2 {
    background-color: #cbcbcb;
  }
  .LookBack__colorVeil--3 {
    background-color: #808080;
  }
  .LookBack__colorVeil--4 {
    background-color: #cbcbcb;
  }
  .LookBack__colorVeil--5 {
    background-color: #808080;
  }

  .LookBack__colorVeil--fadeOut {
    transform: translateY(-100%);
  }
}

.LookBackNoise {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  pointer-events: none;
  opacity: 0;
  background-image: url("../../../../public/images/lookBackPointer/white_noise.gif");
  background-size: 250px 350px;
  transition-timing-function: $timing-function-image;
  transition-duration: 0.4s;
  transition-property: opacity;
  will-change: opacity;
  mix-blend-mode: soft-light;
}

.LookBackNoise--displayed {
  opacity: 1;
}

.LookBackBlue {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: #fcfefe;

  .LookBackBlue__body {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 64vw;
    height: 64vw;
    transform: translateX(calc(785.905px - 50%))
      translateY(calc(56.3982px - 50%)) translateZ(0px);
    will-change: transform;
  }

  .LookBackBlue__round {
    width: 100%;
    height: 100%;
    transform: scale(0);
    opacity: 0;
    background-image: url("../../../../public/images/lookBackPointer/light.png");
    background-size: cover;
    transition-timing-function: $timing-function-image;
    transition-duration: 0.4s;
    transition-property: opacity, transform;
    will-change: opacity, transform;
  }

  .LookBackBlue__round--displayed {
    transform: scale(1);
    opacity: 1;
  }
}
