@import "../../../style/variables";

.IntervalText {
  padding: 200px 0;
  width: 100%;
  overflow-x: hidden;

  .IntervalText__text {
    white-space: nowrap;
    font-size: 100px;
    line-height: 1;
    font-family: "Marcellus";
    color: transparent;
    -webkit-text-stroke: 1px $font-color-blue;
  }

  .IntervalText__textBefore {
    display: flex;
    margin-left: -320%;
    min-width: 100%;
    width: min-content;
    animation: 40s linear infinite slideToRightAnimation;
  }

  .IntervalText__textBeforeBody {
    transform: scaleX(-1);
  }

  .IntervalText__textBeforeBody + .IntervalText__textBeforeBody {
    margin-left: 32px;
  }

  .IntervalText__textAfter {
    display: flex;
    min-width: 100%;
    width: min-content;
    animation: 40s linear infinite slideToLeftAnimation;
  }

  .IntervalText__textAfterBody + .IntervalText__textAfterBody {
    margin-left: 32px;
  }
}

@keyframes slideToRightAnimation {
  100% {
    transform: translateX(50%);
  }
}

@keyframes slideToLeftAnimation {
  100% {
    transform: translateX(-50%);
  }
}
