public/video/topVideoPattern3.mp4 filter=lfs diff=lfs merge=lfs -text
public/video/topVideoPattern2.mov filter=lfs diff=lfs merge=lfs -text
public/video/topVideoPattern1.mov filter=lfs diff=lfs merge=lfs -text
