@import "../../../style/variables.scss";

.Top {
  position: relative;
  z-index: 20;
  padding: 48px;
  width: 100%;
  height: 100vh;
  font-family: "Marcellus";

  .Top__titleBox {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    margin-top: -11px;
    width: 100%;
    text-align: center;
  }

  .Top__title {
    transform: scaleX(-1);
    font-size: 5.8vw;
    color: $font-color-blue;
    letter-spacing: 0.08em;
    text-align: center;
    mix-blend-mode: soft-light;
    font-family: "Classico URW";
  }

  .Top__videoWrapper {
    display: flex;
    justify-content: center;
    height: 100%;
  }

  .Top__videoFrame {
    position: relative;
    z-index: 20;
    width: 32%;
    max-width: 420px;
    overflow: hidden;
  }

  .Top__video {
    width: 128%;
  }

  .Top__titleBoxOnImage {
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
  }

  .Top__titleOnImage {
    display: block;
    transform: scaleX(-1);
    color: $font-color-white;
    white-space: nowrap;
    text-align: center;
    font-size: 5.8vw;
    letter-spacing: 0.08em;
    font-family: "Classico URW";
  }

  .Top__titleOnImageSubTitle {
    display: block;
    font-size: 16px;
    color: $font-color-white;
    letter-spacing: 0.3em;
    text-align: center;
  }

  .Top__scrollIndicator {
    position: absolute;
    right: -28px;
    bottom: 64px;
  }
}
