@import "../../../style/variables.scss";

.Top {
  width: 100vw;
  height: 100vh;

  .Top__videoWrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    width: 32%;
    height: calc(100% - 100px);
    overflow: hidden;
  }

  .Top__movie {
    width: 36vw;
  }

  .Top__title {
    transform: scaleX(-1);
    font-size: 64px;
    font-family: Marcellus;
    letter-spacing: 0.3em;
    color: $font-color-blue;
  }
}