@import "../../../style/variables.scss";

.Footer {
  margin-top: 200px;
  position: relative;
  padding: 12px;
  font-size: 10px;
  color: $font-color-blue;
  text-align: center;
  letter-spacing: 0.1em;
  font-family: "Marcellus";
}
