@import "../../../style/variables.scss";

.HamburgerMenu {
  position: fixed;
  top: 48px;
  left: 100px;
  z-index: 30;

  .HamburgerMenu__button {
  }

  .HamburgerMenu__line {
    display: block;
    width: 40px;
    height: 1px;
    background-color: $font-color-red;
  }

  .HamburgerMenu__line + .HamburgerMenu__line {
    margin-top: 9px;
  }
}
